<% @arr = Array.new %>
<% @lawyers.each do |lawyer| %>
    <% @arr << [lawyer.full_name, calculate_time(lawyer.id, @beginning_date, @ending_date)] %>
<% end %>
<script>
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Lawyers Work Presentation by Hours'
        },
        subtitle: {
            text: 'Period Covers: <%=raw(@beginning_date)%> - <%=raw(@ending_date)%>'
        },
        xAxis: {
            type: 'category',
            labels: {
                rotation: -45,
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'List Of Lawyers Time Accumulation'
            }
        },
        legend: {
            enabled: false
        },
        tooltip: {
            pointFormat: 'Lawyers Time Recorded: <b>{point.y:.1f} hours</b>'
        },
        series: [{
            name: 'Lawyers',
            data: <%= raw(@arr) %>,
            dataLabels: {
                enabled: true,
                rotation: -90,
                color: '#FFFFFF',
                align: 'right',
                x: 4,
                y: 10,
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif',
                    textShadow: '0 0 3px black'
                }
            }
        }]
    });
});
</script>
<div id="container" style="width: 100%; height: 600px; margin: 0 auto"></div>