<div class="panel">
  <div class="panel-heading"><h3>Graph</h3></div>
  <div class="panel panel-primary">
    <div class="panel-primary panel-heading">Representation</div>
    <div class="row">
      <div class="span11">
        <div class="row">
          <div class="span11 well">
            Temporary Unavailable.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%#= link_to "Create Entry",
            new_case_entry_path,
            :class => 'btn btn-primary' %>
<script>
  // $('#user_list').dataTable( {
  //   "aoColumns": [
  //     { "bSearchable": true, "bSortable": true },
  //     { "bSearchable": true, "bSortable": true },
  //     { "bSearchable": false, "bSortable": true },
  //     { "bSearchable": false, "bSortable": true },
  //     { "bSearchable": false, "bSortable": false }
  //   ],
  //   "sPaginationType": "bootstrap"
  // } );
</script>            
