<div class="subnavbar">

  <div class="subnavbar-inner">

    <div class="container">

      <a href="javascript:;" class="subnav-toggle" data-toggle="collapse" data-target=".subnav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <i class="icon-reorder"></i>

      </a>

      <div class="collapse subnav-collapse">
        <ul class="mainnav">

          <li class="active">
            <a href="/">
              <i class="icon-home"></i>
              <span>Home</span>
            </a>              
          </li>

          <li>
            <a href="./index.html">
              <i class="icon-envelope"></i>
              <span>Case Entries</span>
            </a>              
          </li>

          <li>
            <a href="./index.html">
              <i class="icon-copy"></i>
              <span>File Matters</span>
            </a>              
          </li>
          <li class="dropdown">         
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
              <i class="icon-th"></i>
              <span>Components</span>
              <b class="caret"></b>
            </a>      

            <ul class="dropdown-menu">
              <li><a href="./elements.html">Elements</a></li>
              <li><a href="./forms.html">Form Styles</a></li>
              <li><a href="./jqueryui.html">jQuery UI</a></li>
              <li><a href="./charts.html">Charts</a></li>
              <li><a href="./popups.html">Popups/Notifications</a></li>
            </ul>         
          </li>


        </ul>
      </div> <!-- /.subnav-collapse -->

    </div> <!-- /container -->

  </div> <!-- /subnavbar-inner -->

</div>
