<%- model_class = CaseEntryBilling -%>
<div class="page-header">
  <h3 class="title">Billing</h3>
</div>
<div class="row">
	<div class="span12 well">
		<%= render :partial => 'form_edit' %>
	</div>
</div>