<style>
  .gray-data { background-color: #5bc0de !important; color: #ffffff;" }
</style>
<div class="panel">
  <div class="panel-heading"><h3>Case Entries</h3></div>
  <%= render "filter_nav" %>
</div>