<div class="panel">
  <div class="panel-heading"><h3>Case Entry</h3></div>
  <div class="panel panel-primary">
    <div class="panel-primary panel-heading">Create New Entry</div>
    <div class="row">
      <div class="pull-right" style="padding-left: 20px;">
        <%= link_to "Set Your Schedule",
                    new_schedule_path(ce: true),
                    :class => 'btn btn-primary' %>
    	</div>
      <!-- <div class="pull-right">
    		<a href="#search_reference" role="button" class="btn btn-success" data-toggle="modal">Search References</a>
    		<div id="search_reference" class="modal hide fade" style="width: 85%; height: auto; left:30%; overflow-y: hidden" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Search Reference Entries</h3>
          </div>
        	<div class="modal-body">
        		<%#= render "search_filematters" %>
          </div>
          <div class="modal-footer">
          </div>
        </div> 
    	</div> -->
      <div class="pull-right">
        <a href="#search_reference" role="button" class="btn btn-warning" data-toggle="modal">Search References</a>
        <div id="search_reference" class="modal hide fade" style="width: 85%; height: auto; left:30%; overflow-y: hidden" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Search Reference Entries</h3>
          </div>
          <div class="modal-body">
            <%= render "filter_filematter" %>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
      <br>
      <br>
    	<div class="span12">
    		<%= render :partial => 'form' %>
    	</div>
    </div>
  </div>
</div>