<div class="panel">
  <div class="panel-heading"><h3>Case Entry</h3></div>
  <div class="panel panel-primary">
    <div class="panel-primary panel-heading">Create New Entry</div>
    <div class="row">
    	<div class="span12">
    		<%= render :partial => 'form' %>
    	</div>
    </div>
  </div>
</div>